{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription de votre compte</h1>
    {{ form_start(form) }}
    {{ form_row(form.username, {'label': 'Nom d\'utilisateur', 'attr': {'placeholder': 'Votre pseudonyme'}}) }}
    {{ form_row(form.password, {'label': 'Mot de passe', 'attr': {'placeholder': 'Votre mot de passe'}}) }}
    {{ form_row(form.confirm_password, {'label':'Confirmation Mot de passe', 'attr':{'placeholder':'Confirmez votre mot de passe'}}) }}
    {{ form_row(form.email, {'label': 'Addresse E Mail', 'attr': {'placeholder': 'Votre addresse e-mail'}}) }}

    <button type="submit" class="bn btn-primary">S'inscrire</button> 
    {{ form_end(form) }}
{% endblock %}